<% user = @my_employees.detect{ |employee| employee.id == pending_event.user_id } %>
<% cache [pending_event, user] do %>
  <tr>
    <td><%= link_to user.display_name, employee_path(user) %></td>
    <td><%= pending_event.starts_at.strftime('%m-%d-%Y') %></td>
    <td><%= pending_event.title %></td>
    <td><%= pending_event.description %></td>
    <td>
      <%= link_to "Approve", employee_url(pending_event, type: "approve"), method: :put, class: "btn btn-success" %>
      <%= link_to "Reject", employee_url(pending_event, type: "reject"), method: :put, class: "btn btn-danger" %>
    </td>
  </tr>
<% end %>
