<% content_for :title do %>
Give Your Business the Best Employee Time & Attendance Software
<% end %>
<% content_for :meta_description do %>
Create a free Zarlu account for your business and enjoy the best employee time & attendance software. Efficiently manage and track employee time!
<% end %>
<div class="blue_paper mt50 height_55 pb20">
  <div class="container">
    <header>
    <h1 class="center">Create an Account to Start</h1>
    </header>
  </div>
</div>
<div class="devise_box">
  <div class="navigation_link">
    <ul class="nav nav-pills">
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li><%= link_to "Reset Password", new_user_password_path %></li>
      <li class="active"><%= link_to "Sign Up", new_user_registration_path %></li>
    </ul>
  </div>
  <h4 class="center green">Provide your email and confirm your password.</h4>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div>
      <%= f.label :email, class: "devise_label" %>
      <%= f.email_field :email, class: "input-xlarge" %>
    </div>
    <div>
      <%= f.label :password, class: "devise_label" %>
      <%= f.password_field :password, class: "input-xlarge" %></div>
    <div>
      <%= f.label :password_confirmation, class: "devise_label" %>
      <%= f.password_field :password_confirmation, class: "input-xlarge" %></div>
    <div><%= f.submit "Sign Up", class: "btn btn-success btn-large", disable_with: "Creating..." %></div>
  <% end %>
</div>
