<% cache unpaid do %>
  <div class="company_setting">
    <div class="setting_header">
      <h3>Unpaid Leave Settings</h3>
    </div>
    <div class="row">
      <div class="span4 setting_label">Enabled</div>
      <div class="offset1 span4">
        <%= best_in_place unpaid, :enabled, path: company_setting_path(unpaid), type: :checkbox, activator: "#icon-edit-subscriber-unpaid-enabled" %>
        <i id="icon-edit-subscriber-unpaid-enabled" class="icon-edit"></i>
      </div>
    </div>
    <div class="row">
      <div class="span4 setting_label">Default Accrual Rate</div>
      <div class="offset1 span4">
        <%= best_in_place unpaid, :default_accrual_rate, path: company_setting_path(unpaid), activator: "#icon-edit-subscriber-unpaid-default-accrual" %>
        Hours&nbsp;<i id="icon-edit-subscriber-unpaid-default-accrual" class="icon-edit"></i>
      </div>
    </div>
    <div class="row">
      <div class="span4 setting_label">Accrual Frequency</div>
      <div class="offset1 span4">
        Every&nbsp;<%= best_in_place unpaid, :accrual_frequency, path: company_setting_path(unpaid), type: :select, collection: CompanySetting.accrual_frequencies,
          activator: "#icon-edit-subscriber-unpaid-accrual-frequency" %>
        <i id="icon-edit-subscriber-unpaid-accrual-frequency" class="icon-edit"></i>
      </div>
    </div>
    <div class="row">
      <div class="span4 setting_label">Next Accrual Date</div>
      <div class="offset1 span4">
        <%= best_in_place unpaid, :next_accrual, path: company_setting_path(unpaid), type: :date, activator: "#icon-edit-subscriber-unpaid-start-accrual", display_as: :display_next_accrual %>
        <i id="icon-edit-subscriber-unpaid-start-accrual" class="icon-edit"></i>
      </div>
    </div>
    <div class="row">
      <div class="span4 setting_label">Accrual Limit</div>
      <div class="offset1 span4">
        <%= best_in_place unpaid, :accrual_limit, path: company_setting_path(unpaid), activator: "#icon-edit-subscriber-unpaid-accrual-limit", nil: "None" %>
        <i id="icon-edit-subscriber-unpaid-accrual-limit" class="icon-edit"></i>
      </div>
    </div>
  </div>
<% end %>
