<div class="container paper">
  <h1 class="mb15 center">Company Settings</h1>
  <h5 class="center">All changes are auto saved for your convenience.</h5>
  <div class="company_setting">
    <div class="setting_header">
      <h3>Company Information</h3>
    </div>
    <div class="row">
      <div class="span4 setting_label">Company Name</div>
      <div class="offset1 span4">
        <%= best_in_place @subscriber, :name, path: subscribers_path(@subscriber), activator: "#icon-edit-subscriber-name" %>
        <i id="icon-edit-subscriber-name" class="icon-edit"></i>
      </div>
    </div>
    <div class="row">
      <div class="span4 setting_label">Primary Time Zone</div>
      <div class="offset1 span4">
        <%= best_in_place @subscriber, :time_zone, path: subscribers_path(@subscriber), type: :select, collection: @time_zones, activator: "#icon-edit-subscriber-time-zone" %>
        <i id="icon-edit-subscriber-time-zone" class="icon-edit"></i>
      </div>
    </div>
  </div>
  <div class="company_setting">
    <div class="setting_header">
      <h3>Vacation Leave Settings</h3>
    </div>
    <div class="row">
      <div class="span4 setting_label">Enabled</div>
      <div class="offset1 span4">
        <%= best_in_place @company_setting_service.vacation, :enabled, path: company_setting_path(@company_setting_service.vacation), type: :checkbox, activator: "#icon-edit-subscriber-vacation-enabled" %>
        <i id="icon-edit-subscriber-vacation-enabled" class="icon-edit"></i>
      </div>
    </div>
  </div>
  <div class="company_setting">
    <div class="setting_header">
      <h3>Sick Leave Settings</h3>
    </div>
    <div class="row">
      <div class="span4 setting_label">Enabled</div>
      <div class="offset1 span4">
        <%= best_in_place @company_setting_service.sick, :enabled, path: company_setting_path(@company_setting_service.sick), type: :checkbox, activator: "#icon-edit-subscriber-sick-enabled" %>
        <i id="icon-edit-subscriber-sick-enabled" class="icon-edit"></i>
      </div>
    </div>
  </div>
  <div class="company_setting">
    <div class="setting_header">
      <h3>Holiday Leave Settings</h3>
    </div>
    <div class="row">
      <div class="span4 setting_label">Enabled</div>
      <div class="offset1 span4">
        <%= best_in_place @company_setting_service.holiday, :enabled, path: company_setting_path(@company_setting_service.holiday), type: :checkbox, activator: "#icon-edit-subscriber-holiday-enabled" %>
        <i id="icon-edit-subscriber-holiday-enabled" class="icon-edit"></i>
      </div>
    </div>
  </div>
  <div class="company_setting">
    <div class="setting_header">
      <h3>Personal Leave Settings</h3>
    </div>
    <div class="row">
      <div class="span4 setting_label">Enabled</div>
      <div class="offset1 span4">
        <%= best_in_place @company_setting_service.personal, :enabled, path: company_setting_path(@company_setting_service.personal), type: :checkbox, activator: "#icon-edit-subscriber-personal-enabled" %>
        <i id="icon-edit-subscriber-personal-enabled" class="icon-edit"></i>
      </div>
    </div>
  </div>
  <div class="company_setting">
    <div class="setting_header">
      <h3>Unpaid Leave Settings</h3>
    </div>
    <div class="row">
      <div class="span4 setting_label">Enabled</div>
      <div class="offset1 span4">
        <%= best_in_place @company_setting_service.unpaid, :enabled, path: company_setting_path(@company_setting_service.unpaid), type: :checkbox, activator: "#icon-edit-subscriber-unpaid-enabled" %>
        <i id="icon-edit-subscriber-unpaid-enabled" class="icon-edit"></i>
      </div>
    </div>
  </div>
  <div class="company_setting">
    <div class="setting_header">
      <h3>Other Leave Settings</h3>
    </div>
    <div class="row">
      <div class="span4 setting_label">Enabled</div>
      <div class="offset1 span4">
        <%= best_in_place @company_setting_service.other, :enabled, path: company_setting_path(@company_setting_service.other), type: :checkbox, activator: "#icon-edit-subscriber-other-enabled" %>
        <i id="icon-edit-subscriber-other-enabled" class="icon-edit"></i>
      </div>
    </div>
  </div>
</div>
