<div class="centered_page">
  <span></span><div class="login-center height_225">
    <div>
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <div class="pt50 mb20"><%= f.password_field :password, placeholder: "New Secret Phrase" %></div>
        <div class="mb20"><%= f.password_field :password_confirmation, placeholder: "Confirm New Secret Phrase" %></div>
        <div><%= f.submit "Change secret phrase", class: "btn btn-primary", disable_with: "Resetting..." %></div>
      <% end %>
    </div>
  </div>
</div>
