<div class="blue_paper mt50 height_55">
  <div class="container">
    <header>
    <h1 class="center">Enter Your Account's New Secret Phrase.</h1>
    </header>
  </div>
</div>
<div class="devise_box">
  <div class="navigation_link">
    <ul class="nav nav-pills">
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li class="disabled"><%= link_to "Reset Secret Phrase", new_user_password_path %></li>
      <li><%= link_to "Sign Up", pricing_path %></li>
    </ul>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <div><%= f.password_field :password, placeholder: "New Secret phrase", class: "input-xlarge" %></div>
    <div><%= f.password_field :password_confirmation, placeholder: "New Secret phrase confirmation", class: "input-xlarge" %></div>
    <div><%= f.submit "Change", class: "btn btn-success btn-large", disable_with: "Changing..." %></div>
  <% end %>
</div>
