<div class="centered_page">
  <span></span><div class="login-center height_225">
  <div>
  <%= image_tag "https://secure.gravatar.com/avatar/HASH", width: 100, height: 100, class: "img-circle" %>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <div><%= f.email_field :email, placeholder: "Email address" %></div>
  <div><%= f.submit "Reset secret phrase", class: "btn btn-primary", disable_with: "Resetting..." %></div>
<% end %>
  </div>
    <div>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <small class="float_right"><b><%= link_to "Create an account", new_registration_path(resource_name) %></b></small>
      <% end -%>

      <%- if controller_name != 'sessions' %>
        <small class="float_left"><%= link_to "Log in", new_session_path(resource_name) %></small>
      <% end -%>
    </div>
  </div>
</div>
