<% content_for :title do %>
Reset the Pass Phrase for your Employee Business Software Subscription
<% end %>
<% content_for :meta_description do %>
Enter your email address to reset your pass phrase for your employee attendance and time off tracking business software.
<% end %>
<div class="blue_paper mt50 height_55">
  <div class="container">
    <header>
    <h1 class="center">Trouble Signing In? Send Yourself An Email To Reset.</h1>
    </header>
  </div>
</div>
<div class="devise_box">
  <div class="navigation_link">
    <ul class="nav nav-pills">
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li class="active"><%= link_to "Reset Secret Phrase", new_user_password_path %></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
    </ul>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name)) do |f| %>
    <%= hidden_field_tag 'plan', @plan %>
    <div><%= f.email_field :email, placeholder: "Email address", class: "input-xlarge" %></div>
    <div><%= f.submit "Reset", class: "btn btn-primary btn-large", disable_with: "Resetting..." %></div>
  <% end %>
</div>
