<div class="container paper">
  <div class="row">
    <div class="span4">
      Screenshots here
    </div>
    <div class="span8">
      <h2>Let's Get Your Account Setup</h2>
      <ul class="unstyled account_setup">
        <li>
        <%= check_box_tag 'intro_tour', 'complete', false %>
        <%= link_to "Learn how to use Zarlu with a 1 minute tour.", "" %>
        </li>
        <li>
        <%= check_box_tag 'intro_tour', 'complete', false %>
        <%= link_to "Add a coworker to your account.", "" %>
        </li>
        <li>
        <%= check_box_tag 'intro_tour', 'complete', false %>
        <%= link_to "Assign an employee to a manager.", "" %>
        </li>
        <li>
        <%= check_box_tag 'intro_tour', 'complete', false %>
        <%= link_to "Create your first time off request.", "" %>
        </li>
        <li>
        <%= check_box_tag 'intro_tour', 'complete', false %>
        <%= link_to "View your activity feed.", "" %>
        </li>
        <li>
        <%= check_box_tag 'intro_tour', 'complete', false %>
        <%= link_to "Approve a Time Off Request.", "" %>
        </li>
        <li>
        <%= check_box_tag 'intro_tour', 'complete', false %>
        <%= link_to "Contact Support and say Hello!", "" %>
        </li>
        <li>
        <%= check_box_tag 'intro_tour', 'complete', false %>
        <%= link_to "Add a Paid Plan.", "" %>
        </li>
      </ul>
    </div>
  </div>
</div>
