<div class="container paper">
  <div class="row">
    <div class="span4 welcome_images">
      <%= link_to home_path do %>
        <%= image_tag "welcome_calendar.png", width: 250, height: 250, alt: "Calendar" %>
      <% end %>
      <%= link_to activities_path do %>
        <%= image_tag "welcome_activity_feed.png", width: 250, height: 250, alt: "Activity Feed" %>
      <% end %>
      <%= link_to subscribers_path do %>
        <%= image_tag "welcome_account.png", width: 250, height: 250, alt: "Account Management" %>
      <% end %>
    </div>
    <div class="span8">
      <h2>Let's Get Your Account Setup</h2>
      <ul class="unstyled account_setup">
        <li>
        <%= display_welcome_tour_task(current_user) %>
        <%= link_to "Learn how to use Zarlu with a 1 minute tour.", "", class: "tour" %>
        </li>
        <li>
        <%= display_add_co_worker_task(current_user) %>
        <%= link_to "Add a coworker to your account.", subscribers_path %>
        </li>
        <li>
        <%= display_assign_employee_task(current_user) %>
        <%= link_to "Assign an employee to a manager.", subscribers_path %>
        </li>
        <li>
        <%= display_add_time_off_task(current_user) %>
        <%= link_to "Create your first time off request.", home_path %>
        </li>
        <li>
        <%= display_add_paid_plan_task(current_user) %>
        <%= link_to "Add a Paid Plan.", subscriptions_path %>
        </li>
      </ul>
      <h3>Bonus Tasks</h3>
      <ul class="account_setup">
        <li>
        <%= link_to "View your activity feed.", activities_path %>
        </li>
        <li>
        <%= link_to "Approve a time off request.", employees_path %>
        </li>
        <li>
        <%= link_to "Contact Support and say Hello!", "", id: "support_link" %>
        </li>
      </ul>
    </div>
  </div>
</div>
