<% cache current_user do %>
  <div class="container paper center">
  <%= render partial: "layouts/setup_header", locals: { complete_1: true, complete_2: true, complete_3: true } %>
    <div class="row">
      <h2>Congratulations, Your Zarlu Account is Setup!</h2>
    <div class="row">
      <div class="offset2 span9 center">
        <p>Below are some additional tasks for you to try with to do with your Zarlu account. <strong>We are giving an additional $5 off your first paid month when you complete all these tasks and contact support.</strong></p>
      </div>
    </div>
    <div class="row left">
      <ul class="account_setup offset3">
        <li>
        <%= display_welcome_tour_task(current_user) %>
        <%= link_to "Learn how to use Zarlu with a 1 minute tour.", "", class: "tour" %>
        </li>
        <li>
        <%= display_add_co_worker_task(current_user) %>
        <%= link_to "Add coworkers to your company's account.", subscribers_path %>
        </li>
        <li>
        <%= display_add_user_name_task(current_user) %>
        <%= link_to "Add your name and/or photo to your account.", edit_user_registration_path %>
        </li>
        <li>
        <%= display_add_company_name_task(current_user) %>
        <%= link_to "Add your company name and time off rules.", company_settings_path %>
        </li>
        <li>
        <%= display_add_time_off_task(current_user) %>
        <%= link_to "Submit your first time off request of any type.", home_path %>
        </li>
        <li>
        <%= display_add_credit_card_task(current_user) %>
        <%= link_to "Add your business's credit card.", subscriptions_path %>
        </li>
        <li>
        <%= display_contact_support_task(current_user) %>
        <%= link_to "Contact Zarlu support with any questions.", "", class: "support_link" %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
