<header class="center">
  <h1>
    Say Goodbye to time consuming employee scheduling
    <small>Manage your company's employee schedules and calendars with our easy to use web application.</small>
  </h1>
  <div class="row">
    <div class="span6">
      <ul>
        <li>
          <strong>Manage employee schedules with ease.</strong>
          <p>Check employee schedules. Allow employees to submit time off requests, and approve employee time off requests with our intuitive application.</p>
        </li>
        <li>
          <strong>Improve Morale</strong>
          <p>Scheduling is a pain point for many businesses. We want to fix that! Scheduling should be quick, intuitive, and pain free.</p>
        </li>
        <li>
          <strong>Improve Productivity</strong>
          <p>Employees can submit a time off request and manage their schedules, and be back at work in seconds.</p>
        </li>
      </ul>
      <%= link_to pricing_path, class: "btn btn-primary btn-huge" do %>
        Free to try. No time limit.<br/>
        <small>Get results with no risk or obligation.</small>
      <% end %>
    </div>
    <div class="span6 left">
      <%= image_tag "calendar_week.png", width: 460, height: 370 %>
    </div>
  </div>
  <h2>
    Zarlu is a powerful web application that allows managers or HR to manage, view, and modify employee schdules with ease. With Zarlu, your company's employees use our powerful scheduling and calendar tools to create their schedules.  Your account administrator can delegate employees as managers or as human resources and allow them to view their employees schedules, approve time off requests or sick days, schedule meetings, and more!
  </h2>
</header>
<hr/>
<section class="feature_in_depth">
  <h3>
    Now everyone can schedule and manage vacations, sick days, and more.
    <small>Start using Zarlu today and see how easy scheduling can be.</small>
  </h3>
  <div class="feature row">
    <div class="span6 offset1">
      <h4>Administrate Schedules</h4>
      <p>
      Approve, modify, or reject your employees time off requests or schedule changes with our easy to use interfaces. Zarlu gives you powerful tools to administrate schedules in an easy to use intuitive way. It has never been this easy!
      </p>
    </div>
    <div class="span4">
      <%= image_tag "login.png", width: 370, height: 228 %>
    </div>
  </div>

  <div class="feature row">
    <div class="span4 offset1">
      <%= image_tag "zarlu_email.png", width: 370, height: 228 %>
    </div>
    <div class="span6">
      <h4>No time to login? Use email!</h4>
      <p>Email cd94cb306258ae8b6d9f@cloudmailin.net to submit time off requests without logging into Zarlu! Use the email address that you signed up with and put the date of your time off request as the email's subject (mm-dd-yy or mm/dd/yy). Add a message to your email and Zarlu will notify your manager of your time off request with the message you provided. Zarlu does all the work for you! We will update your calendar with your time off request and notify your manager of your request.</p>
    </div>
  </div>

  <div class="feature row">
    <div class="span6 offset1">
      <h4>Interactive Calendar</h4>
      <p>Every employee subscription comes with a fully featured calendar. Each calendar can be viewed as the whole month, week, or a single day. Schedule for multiple days or as little as 15 minutes. Drag and Drop events as your schedule changes. Increase the event's time by simpling dragging the event. To create a new calendar event simply click on a day, hour, or minute and drag your mouse/finger to the end time. It's that easy!</p>
    </div>
    <div class="span4">
      <%= image_tag "calendar.png", width: 370, height: 228 %>
    </div>
  </div>

  <div class="feature row">
    <div class="span4 offset1">
      <%= image_tag "employee_sort.png", width: 370, height: 228 %>
    </div>
    <div class="span6">
      <h4>Organization</h4>
      <p>
      Grouping employees into departments/sectors/groups is incredibly easy with Zarlu.  Our simple drag and drop interface and employee invitation system makes setting up your account easy. Zarlu allows you to select managers or HR personal and assign them to specific employees to give you the flexibility to have the correct person approving an employee's schedule.
      </p>
    </div>
  </div>

  <div class="feature row">
    <div class="span6 offset1">
      <h4>Choose the plan that is right for YOU.</h4>
      <p>
        We offer a variety of plans, so that there is plan that will meet your needs. Whether you are an individual, start up, small business, or large corporation. We have the plan for you. Choose from plans that start at $0/month.
      </p>
    </div>
    <div class="span4">
      <%= image_tag "pricing_zoom.png", width: 370, height: 150 %>
    </div>
  </div>
  <h3>
    Get started with our Free Plan.
    <small>See how Zarlu can improve your business' scheduling with no risk or obligation.</small>
  </h3>
  <div class="center">
  <%= link_to pricing_path, class: "btn btn-success btn-huge" do %>
    See Plans &amp; Pricing →<br/>
    <small>Starting at Free</small>
  <% end %>
  </div>
</section>
