<% cache "homes_index" do %>
  <div class="image_wrap">
    <div class="splash_image">
      <div class="container pt120">
        <h1>Employee Time & Attendance Software</h1>
        <h2>Take control of employee attendance today with Zarlu.</h2>
        <div class="mt40">
          <%= link_to "<i class='icon-magic icon-large'></i>&nbsp;&nbsp;Features".html_safe, features_path, class: "btn btn-success  btn-huge" %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "<i class='icon-plus-sign icon-large'></i>&nbsp;&nbsp;Free Trial".html_safe, new_user_registration_path, class: "btn btn-primary btn-huge" %>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt25">
        <h2 class="center large_h2 important">Manage attendance with our software.</h2>
        <div class="row center mt40">
          <div class="span3 selected_video" id="play_time_off">
            <p><i class="icon-calendar icon-4x"></i></p>
            <h4>Submit Time Off</h4>
          </div>
          <div class="span3" id="play_approve">
            <p><i class="icon-group icon-4x"></i></p>
            <h4>Manage Time Off</h4>
          </div>
          <div class="span3" id="play_chart">
            <p><i class="icon-bar-chart icon-4x"></i></p>
            <h4>View Attendance Data</h4>
          </div>
          <div class="span3" id="play_settings">
            <p><i class="icon-cogs icon-4x"></i></p>
            <h4>Add Attendance Rules</h4>
          </div>
        </div>
        <div class="center mt40 mb60 demo_video">
          <%= video_tag ["timeoff.mp4", "timeoff.webm", "timeoff.theora.ogv"], size: "828x445", autoplay: true, id: "time_off_video" %>
          <%= video_tag ["approve.mp4", "approve.webm", "approve.theora.ogv"], size: "828x445", preload: "auto", id: "approve_video", style: "display: none;" %>
          <%= video_tag ["chart.mp4", "chart.webm", "chart.theora.ogv"], size: "828x445", preload: "auto", id: "chart_video", style: "display: none;" %>
          <%= video_tag ["settings.mp4", "settings.webm", "settings.theora.ogv"], size: "828x445", preload: "auto", id: "settings_video", style: "display: none;" %>
        </div>
  </div>
<% end %>
