<div class="blue_paper mt50">
  <div class="container">
    <header>
    <div class="w450 pull-right">
      <%= link_to pricing_path, class: "btn btn-primary btn-action" do %>
        Try it Free today<br/>
        <small>No time limit. No credit card.</small>
      <% end %>
    </div>
    <div class="w550">
      <h1>
        Track Employee Time Off
        <small>Trusted by businesses around the world to track time off requests.</small>
        <small>Zarlu gives you everything you need to manage employee time off.</small>
      </h1>
    </div>
    </header>
  </div>
</div>
<div class="grey_paper">
  <div class="container">
    <div class="screenshots">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="active item screenshot">
            <%= image_tag "calendar_large.png", width: 702, height: 440, alt: "Time Off Calendar" %>
          </div>
          <div class="item screenshot">
            <%= image_tag "approve_large.png", width: 702, height: 440, alt: "Approve Time Off Request" %>
          </div>
          <div class="item screenshot">
            <%= image_tag "email_time_off.png", width: 702, height: 440, alt: "Email Sick Time Off" %>
          </div>
          <div class="item screenshot">
            <%= image_tag "manage_account.png", width: 702, height: 440, alt: "Track Employee Time Off" %>
          </div>
          <div class="item screenshot">
            <%= image_tag "schedule_large.png", width: 702, height: 440, alt: "Time Off Calendar" %>
          </div>
        </div>
        <%= link_to "&nbsp;&lsaquo;".html_safe, "#myCarousel", class: "carousel-control left mt25", data: { slide: "prev" } %>
        <%= link_to "&rsaquo;".html_safe, "#myCarousel", class: "carousel-control right mt25", data: { slide: "next" } %>
      </div>
    </div>
  </div>
</div>
<div class="blue_paper">
  <div class="container ptb5">
    <h2 class="center">
      Give each of your employees access to our time off tracking software.
      <br/>
      <small class="white">Easy for an employee to submit requests and easy for managment to track.</small>
    </h2>
  </div>
</div>
<div class="white_paper">
  <div class="container features pt40">
    <div class="pb100">
      <div class="feature_picture pull-right">
        <%= image_tag "approve_large.png", width: 400, height: 251, alt: "Approve Employee Vacation" %>
      </div>
      <div class="feature_text">
        <h3 class="blue">Approve or Reject Employee Time Off</h3>
        <p>
        Approve, modify, or reject your employees time off requests or schedule changes with our easy to use interfaces. Zarlu gives you powerful tools to administrate schedules in an easy to use intuitive way. It has never been this easy!
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="pb100">
      <div class="feature_text pull-right">
        <h3 class="blue">Email Schedule and Calendar Changes</h3>
        <p>
        Email timeoff@mail.zarlu.com to submit time off requests without logging into Zarlu! Use the email address that you signed up with and put the date of your time off request as the email's subject (mm-dd-yy or mm/dd/yy). Add a message to your email and Zarlu will notify your manager of your time off request with the message you provided. We will update your calendar with your time off request and notify your manager of your request. Zarlu does all the work for you!
        </p>
      </div>
      <div class="feature_picture">
        <%= image_tag "email_time_off.png", width: 400, height: 251, alt: "Email Time Off Request" %>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="pb100">
      <div class="feature_picture pull-right">
        <%= image_tag "calendar_large.png", width: 400, height: 251, alt: "Schedule Time Off" %>
      </div>
      <div class="feature_text">
        <h3 class="blue">Interactive Calendar and Scheduler</h3>
        <p>
        Every employee subscription comes with a fully featured calendar. Each calendar can be viewed as the whole month, week, or a single day. Schedule for multiple days or as little as 15 minutes. Drag and Drop events as your schedule changes. Increase the event's time by simpling dragging the event. To create a new calendar event simply click on a day, hour, or minute and drag your mouse/finger to the end time. It's that easy!
        </p>
      </div>
    </div>
    <div class="pb100">
      <div class="feature_text pull-right">
        <h3 class="blue">Scheduler Setup in 1-2</h3>
        <p>
        Jumping into a new software application usually means dealing with a painful data import process. Zarlu has streamlined the employee import process to be as efficient and quick as posssible. Simply enter an employee's work email and a pass phrase they can change later. That's it! No confirmation emails or long sign up process. The employee is then ready to start using Zarlu! Grouping employees by manager to approve their schedule can be done on the same page by simply clicking on the employee and dragging their email under the manager's email. With those two steps your account is completely setup!
        </p>
      </div>
      <div class="feature_picture">
        <%= image_tag "manage_account.png", width: 400, height: 251, alt: "Track employee time" %>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="pb20">
      <div class="feature_picture pull-right">
        <%= image_tag "pricing.png", width: 400, height: 251, alt: "Zarlu pricing" %>
      </div>
      <div class="feature_text">
        <h3 class="blue">Choose the plan that is right for you.</h3>
        <p>
        We offer a variety of plans, so that there is plan that will meet your needs. Whether you are an individual, start up, small business, or large corporation. We have the plan for you. Choose from plans that start at $0/month.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="center pt20 pb20">
    <%= link_to pricing_path, class: "btn btn-primary btn-huge btn-enormous" do %>
      Try it Free today<br/>
      <small>No time limit. No credit card.</small>
    <% end %>
  </div>
</div>
