<header class="center">
  <h1>
    The best employee scheduling and calendar software
    <small>Manage your employee schedules and calendars with our easy to use software.</small>
  </h1>
  <div class="row">
    <div class="span6">
      <ul>
        <li>
          <strong>Manage employee schedules with ease.</strong>
          <p>Check employee schedules. Allow employees to submit time off requests, and approve employee time off requests with our intuitive software.</p>
        </li>
        <li>
          <strong>Our calendar makes scheduling easy!</strong>
          <p>Scheduling is a pain point for many businesses. We want to fix that! Scheduling should be quick, intuitive, and pain free.</p>
        </li>
        <li>
          <strong>Quickly email calendar and schedule changes.</strong>
          <p>Employees can email a time off request without logging in, and and be back at work, enjoying a vacation, or resting from an illness in seconds.</p>
        </li>
      </ul>
    </div>
    <div class="span6 left">
      <%= image_tag "calendar_week.png", width: 460, height: 370 %>
    </div>
  </div>
  <div>
    <%= link_to pricing_path, class: "btn btn-primary btn-huge btn-enormous" do %>
      Free to try. No time limit.<br/>
      <small>Get results with no risk or obligation.</small>
    <% end %>
  </div>
  <h2>
    Zarlu is a powerful scheduling and calendar software application that allows a business to manage employee schedules. Zarlu is accessed through any web enabled device with all data securely stored in the cloud. Zarlu provides your employees and managers powerful scheduling and calendar tools to create and manage schedules.  Managers can approve time off requests, vacations, or sick days, and more!
  </h2>
</header>
<hr/>
<section class="feature_in_depth">
  <h3>
    Now everyone can schedule and manage vacations, sick days, and more.
    <small>Managing schedules and calendars for an entire business has never been this simple.</small>
  </h3>
  <div class="feature row">
    <div class="span6 offset1">
      <h4>Manage Schedules</h4>
      <p>
      Approve, modify, or reject your employees time off requests or schedule changes with our easy to use interfaces. Zarlu gives you powerful tools to administrate schedules in an easy to use intuitive way. It has never been this easy!
      </p>
    </div>
    <div class="span4">
      <%= image_tag "approve.png", width: 370, height: 228 %>
    </div>
  </div>

  <div class="feature row">
    <div class="span4 offset1">
      <%= image_tag "zarlu_email.png", width: 370, height: 228, alt: "Email Schedule" %>
    </div>
    <div class="span6">
      <h4>Email Schedule and Calendar Changes</h4>
      <p>Email cd94cb306258ae8b6d9f@cloudmailin.net to submit time off requests without logging into Zarlu! Use the email address that you signed up with and put the date of your time off request as the email's subject (mm-dd-yy or mm/dd/yy). Add a message to your email and Zarlu will notify your manager of your time off request with the message you provided. Zarlu does all the work for you! We will update your calendar with your time off request and notify your manager of your request.</p>
    </div>
  </div>

  <div class="feature row">
    <div class="span6 offset1">
      <h4>Interactive Calendar and Scheduler</h4>
      <p>Every employee subscription comes with a fully featured calendar. Each calendar can be viewed as the whole month, week, or a single day. Schedule for multiple days or as little as 15 minutes. Drag and Drop events as your schedule changes. Increase the event's time by simpling dragging the event. To create a new calendar event simply click on a day, hour, or minute and drag your mouse/finger to the end time. It's that easy!</p>
    </div>
    <div class="span4">
      <%= image_tag "calendar.png", width: 370, height: 228, alt: "Employee Calendar and Scheduler" %>
    </div>
  </div>

  <div class="feature row">
    <div class="span4 offset1">
      <%= image_tag "employee_sort.png", width: 370, height: 228, alt: "Employee Management" %>
    </div>
    <div class="span6">
      <h4>Scheduler Setup in 1-2</h4>
      <p>
      Jumping into a new software application usually means dealing with a painful data import process. Zarlu has streamlined the employee import process to be as efficient and quick as posssible. Simply enter an employee's work email and a pass phrase they can change later.  That's it! No confirmation emails or long sign up process.  The employee is then ready to start using Zarlu!  Grouping employees by manager to approve their schedule can be done on the same page by simply clicking on the employee and dragging their email under the manager's email. With those two steps your account is completely setup!
      </p>
    </div>
  </div>

  <div class="feature row">
    <div class="span6 offset1">
      <h4>Choose the plan that is right for YOU.</h4>
      <p>
        We offer a variety of plans, so that there is plan that will meet your needs. Whether you are an individual, start up, small business, or large corporation. We have the plan for you. Choose from plans that start at $0/month.
      </p>
    </div>
    <div class="span4">
      <%= image_tag "pricing_zoom.png", width: 370, height: 150 %>
    </div>
  </div>
  <h3>
    Get started with our Free Plan.
    <small>See how Zarlu can improve your business' scheduling with no risk or obligation.</small>
  </h3>
  <div class="center">
  <%= link_to pricing_path, class: "btn btn-primary btn-huge btn-enormous" do %>
    See Plans &amp; Pricing<br/>
    <small>Starting at $0 / month</small>
  <% end %>
  </div>
</section>
