<div class="container paper">
  <ul class="nav nav-pills">
    <li class="<%= @calendar_type == 'user' ? 'active' : '' %>">
    <%= link_to "My Calendar", home_path %>
    </li>
    <li class="<%= @calendar_type == 'manager' ? 'active' : '' %> <%= disable_pill(current_user) %>">
    <%= link_to "My Employees' Calendar", home_path(calendar_type: "manager") %>
    </li>
    <li class="<%= @calendar_type == 'company' ? 'active' : '' %>">
    <%= link_to "My Company's Calendar", home_path(calendar_type: "company") %>
    </li>
  </ul>
  <div class="calendar" id="<%= @calendar_type %>_calendar"></div>
  <div id="event_dialog" class="dialog ui-helper-hidden">
    <form id="dialog_form">
      <div>
        <label>Title:</label>
        <input id="title" class="field" type="text"></input>
      </div>
    </form>
  </div>
</div>
