<div class="centered_page">
  <span></span><div class="login-center height_285">
  <div>
  <%= image_tag "https://secure.gravatar.com/avatar/HASH", width: 100, height: 100, class: "img-circle" %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb20"><%= f.email_field :email, placeholder: "Email address" %></div>
    <div><%= f.password_field :password, placeholder: "Secret phrase" %></div>
    <div><%= f.submit "Log in", class: "btn btn-primary", disable_with: "Logging in..." %></div>
  <% end %>
  </div>
    <div class="pt5"><%= render "devise/shared/links" %></div>
  </div>
</div>
