<div class="blue_paper mt50 height_55 pb20">
  <div class="container">
    <header>
    <h1 class="center">Enter A Password For Your New Account.</h1>
    </header>
  </div>
</div>
<div class="devise_box">
  <h4 class="center green">Please provide a password and confirm it.</h4>
  <%= form_for(resource, as: resource_name, url: "/users/invitation/#{resource.id}", html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :invitation_token %>
    <div>
      <%= f.label :password, class: "devise_label" %>
      <%= f.password_field :password, pattern: ".{6,}", title: "Password must be at least 6 characters.", class: "input-xlarge" %>
    </div>
    <div>
      <%= f.label :password_confirmation, class: "devise_label" %>
      <%= f.password_field :password_confirmation, pattern: ".{6,}", title: "Password must be at least 6 characters.", class: "input-xlarge" %>
    </div>
    <div><%= f.submit "Join Zarlu", class: "btn btn-success btn-large", data: { disable_with: "Joining..." } %></div>
  <% end %>
</div>
