<div class="container paper">
  <div class="row">
    <div class="span6">
      <h4>Add Employeee or Manager</h4>
      <%= form_for @user, url: add_user_subscribers_url, html: { class: "mt25 form-inline" }, method: :post do |form| %>
        <%= form.email_field :email, class: "input-medium", placeholder: "Email" %>
        <%= form.password_field :password, class: "input-medium", placeholder: "Password" %>
        <%= form.submit "Add", class: "btn btn-primary" %>
      <% end %>
      <h4>Employees without a manager</h4>
      <ul class="unstyled sortable" data-manager_id="nil">
        <%= render partial: "subscribers/no_manager", collection: @no_manager_users, as: :user %>
      </ul>
    </div>
    <div class="span5">
      <h4>Managers</h3>
      <p>(Managers approve schedules of their employees)</p>
      <%= render partial: "subscribers/manager", collection: @managers, as: :manager %>
    </div>
  </div>
</div>
