<div class="paper">
  <h2>Subscription: <%= @subscriber.plan.titleize %> Plan</h2>
  <div class="row">
    <div class="span6">
    <h4>Employees (<%= @users.count %> / <%= @subscriber.plan_users %>)</h4>
      <%= form_for @user, url: add_user_subscribers_url, html: { class: "mt25 form-inline" }, method: :post do |form| %>
        <%= form.text_field :email, class: "input-medium", placeholder: "Email" %>
        <%= form.password_field :password, class: "input-medium", placeholder: "Password" %>
        <%= form.submit "Add", class: "btn btn-primary" %>
      <% end %>
      <ul>
        <% @users.each do |user| %>
          <li><%= user.email %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
