<% cache "footer" do %>
  <footer id="footer">
  <div class="container center">
    <div class="row ml15">
      <div class="span2 left">
        <h2>Company</h2>
        <ul class="unstyled">
          <li><%= link_to "<i class='icon-question-sign icon-large'></i>&nbsp;&nbsp;Contact Us".html_safe, "#", class: "support_link" %></li>
          <li><%= link_to "<i class='icon-user-md icon-large'></i>&nbsp;&nbsp;Status".html_safe, "http://status.zarlu.com", target: "_blank" %>
          <li><%= link_to "<i class='icon-lock icon-large'></i>&nbsp;&nbsp;&nbsp;Security".html_safe, "/blog/how-does-zarlu-keep-my-data-safe" %></li>
          <li><%= link_to "<i class='icon-eye-open icon-large'></i>&nbsp;Privacy".html_safe, "/privacy-policy", data: { "no-turbolink" => true } %></li>
          <li><%= link_to "<i class='icon-legal icon-large'></i>&nbsp;Terms".html_safe, "/terms-of-service" %></li>
      </ul>
    </div>
    <div class="offset1 span6">
      <h2>Zarlu &#8480;</h2>
      <p>Zarlu is an employee time & attendance tracking software application. Employees can submit schedule changes and businesses can manage employee schedule changes.</p>
      <br/>
      Zarlu &copy; 2013
    </div>
    <div class="offset1 span2 left">
      <h2>Social</h2>
      <ul class="unstyled">
        <li>
        <%= link_to blog_path do %>
          <i class='icon-rss icon-large'></i>&nbsp;&nbsp;Blog
        <% end %>
        </li>
        <li>
        <%= link_to "https://twitter.com/zarlusoftware", target: "_blank" do %>
          <i class='icon-twitter icon-large'></i>&nbsp;Twitter
        <% end %>
        </li>
        <li>
        <%= link_to "https://www.facebook.com/pages/Zarlu/553117844722452", target: "_blank" do %>
          <i class='icon-facebook icon-large'></i>&nbsp;&nbsp;&nbsp;Facebook
        <% end %>
        </li>
        <li>
        <%= link_to "https://plus.google.com/107268300619396695863", target: "_blank" do %>
          <i class='icon-google-plus icon-large'></i>&nbsp;Google
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>
<% end %>
