<!DOCTYPE html>
<html>
<head>
  <title>Zarlu</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
</head>
<body class="<%= controller.controller_path %>_<%= controller.action_name %>">
  <div class="container">
    <%= render partial: "layouts/flash_messages" %>
    <div class="navbar pt15">
      <div class="navbar-inner nav-collapse collapse">
        <%= link_to "Zarlu", root_path, id: "logo" %>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to "Account", subscribers_path %></li>
            <li><%= link_to "Settings", edit_user_registration_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li>
              <strong><%= link_to "Pricing", pricing_path %></strong>
              <br/>
              <small>Starting at Free</small>
            </li>
            <li>
              <strong><%= link_to "Free Account", pricing_path %></strong>
              <br/>
              <small>Try it now!</small>
            </li>
            <li>
              <strong><%= link_to "Log In →", new_user_session_path %></strong>
              <br/>
              <small>Access your account</small>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
