<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <% if content_for? :title %>
    <title><%= content_for :title %> - Zarlu</title>
  <% else %>
    <title>Employee Time & Attendance Software for your Business - Zarlu</title>
  <% end %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% if content_for? :meta_description %>
    <%= tag :meta, name: "description", content: content_for(:meta_description) %>
  <% else %>
    <%= tag :meta, name: "description", content: "Zarlu is an employee time & attendance tracking software application. Employees can submit schedule changes and businesses can manage employee schedule changes." %>
  <% end %>
  <%= tag :meta, name: "application-name", content: "Zarlu", data: { name: "stripe-key", value: STRIPE_PUBLIC_KEY } %>
  <%= favicon_link_tag %>
</head>
<body class="<%= controller.controller_path %>_<%= controller.action_name %>">
  <div class="body_without_footer">
  <%= render partial: "layouts/navbar" %>
  <%= render partial: "layouts/flash_messages" %>
  <%= yield %>
  </div>
  <%= render partial: "layouts/segmentio" if current_user %>
  <%= render partial: "layouts/footer" %>
</body>
</html>
